# Dataset & Models
dataset3/
models/
*.safetensors
*.ckpt
*.pth
*.bin
*.h5

# Outputs
sd35_hair_lora/
results3/
logs/
wandb/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# OS / IDE
.DS_Store
.vscode/
.idea/
*.swp
